<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="horario">
      <h2 data-cy="horarioDetailsHeading"><span jhiTranslate="academiaApp.horario.detail.title">Horario</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ horario.id }}</span>
        </dd>
        <dt><span jhiTranslate="academiaApp.horario.diaSemana">Dia Semana</span></dt>
        <dd>
          <span>{{ horario.diaSemana }}</span>
        </dd>
        <dt><span jhiTranslate="academiaApp.horario.horaInicioTaller">Hora Inicio Taller</span></dt>
        <dd>
          <span>{{ horario.horaInicioTaller }}</span>
        </dd>
        <dt><span jhiTranslate="academiaApp.horario.taller">Taller</span></dt>
        <dd>
          <div *ngIf="horario.taller">
            <a [routerLink]="['/taller', horario.taller?.id, 'view']">{{ horario.taller?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/horario', horario.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
