<div class="container">
    <h1 jhiTranslate="formulario-suscripcion.titulo">
        Formulario suscripcion de un nuevo Alumno
    </h1>

    <hr>

    <div class="d-flex flex-column">
        <!--Datos sobre el Alumno-->
        <u class="align-self-center">
            <h2 class="align-self-center" jhiTranslate="formulario-suscripcion.datos-alumno">Datos del alumno</h2>
        </u>

        <div class="d-flex flex-row">
            <label>¿Alumno ya registrado?</label>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" #alumno_check
                    (change)="changeAlumnoRegistrado(alumno_check.checked)">
            </div>
        </div>

        <div *ngIf="!alumno_registrado; else buscar_alumno">
            <div class="input-group mb-3">
                <div id="labels_alumno">
                    <div class="input-group-prepend mb-1">
                        <label for="nombre_alumno" class="input-group-text obligatorio"
                            jhiTranslate="formulario-suscripcion.alumno.nombre">Nombre del alumno</label>
                    </div>
                    <div class="input-group-prepend mb-1">
                        <label for="apellido_alumno" class="input-group-text obligatorio"
                            jhiTranslate="formulario-suscripcion.alumno.apellido">Apellido del alumno</label>
                    </div>
                    <div class="input-group-prepend">
                        <label for="dni_alumno" class="input-group-text obligatorio"
                            jhiTranslate="formulario-suscripcion.alumno.dni">DNI del alumno</label>
                    </div>
                </div>
                <div id="input_alumno">
                    <input type="text" name="nombre_alumno" id="nombre_alumno_in_text" class="form-control mb-1"
                        [(ngModel)]="nombre_alumno">
                    <input type="text" name="apellido_alumno" id="apellido_alumno_in_text" class="form-control mb-1"
                        [(ngModel)]="apellido_alumno">
                    <input type="text" name="dni_alumno" id="dni_alumno_in_text" class="form-control"
                        pattern="[0-9]{8}[A-Z]{1}" [(ngModel)]="dni_alumno">
                </div>
            </div>
        </div>

        <ng-template #buscar_alumno>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="">Datos</span>
                </div>
                <input type="text" class="form-control" [(ngModel)]="alumno_busqueda" (ngModelChange)="buscarAlumno()">
            </div>

            <div class="alert alert-info border border-info" *ngIf="alumnos_registrados.length > 0; else error_alumnos">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido</th>
                            <th scope="col">DNI</th>
                            <th scope="col">Accion</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let alumno of alumnos_registrados">
                            <td>{{alumno.nombre}}</td>
                            <td>{{alumno.apellido}}</td>
                            <td>{{alumno.dni}}</td>
                            <td><button class="btn btn-primary"
                                    (click)="seleccionarAlumnoExistente(alumno)">Seleccionar</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div *ngIf="alumno_seleccionado != undefined">
                <span class="alert alert-success border border-success">Alumno: {{alumno_seleccionado.nombre}} {{alumno_seleccionado.apellido}} {{alumno_seleccionado.dni}}</span>
            </div>

            <ng-template #error_alumnos>
                <p class="alert alert-warning">Ningun alumno encontrado</p>
            </ng-template>

        </ng-template>

        <div *ngIf="!alumno_registrado">
            <!--Datos sobre el Contacto-->
            <u class="align-self-center">
                <h2 jhiTranslate="formulario-suscripcion.datos-contacto">Datos del alumno</h2>
            </u>

            <div class="d-flex flex-row">
                <label>¿Contacto ya registrado?</label>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" #contacto_check
                        (change)="changeContactoRegistrado(contacto_check.checked)">
                </div>
            </div>

            <div *ngIf="!contacto_registrado; else buscar_contacto">
                <div class="input-group mb-3">
                    <div id="labels_contacto">
                        <div class="input-group-prepend mb-1">
                            <label for="nombre_contacto" class="input-group-text obligatorio"
                                jhiTranslate="formulario-suscripcion.contacto.nombre">Nombre del contacto</label>
                        </div>
                        <div class="input-group-prepend mb-1">
                            <label for="dni_contacto" class="input-group-text obligatorio"
                                jhiTranslate="formulario-suscripcion.contacto.dni">DNI del contacto</label>
                        </div>
                        <div class="input-group-prepend mb-1">
                            <label for="telefono_contacto" class="input-group-text especial"
                                jhiTranslate="formulario-suscripcion.contacto.telefono">Telefono del contacto</label>
                        </div>
                        <div class="input-group-prepend mb-1">
                            <label for="correo_contacto" class="input-group-text especial"
                                jhiTranslate="formulario-suscripcion.contacto.correo">Correo del contacto</label>
                        </div>
                    </div>
                    <div id="input_alumno">
                        <input type="text" name="nombre_contacto" id="nombre_alumno_in_text" class="form-control mb-1"
                            [(ngModel)]="nombre_contacto">
                        <input type="text" name="dni_contacto" id="dni_alumno_in_text" class="form-control mb-1"
                            pattern="[0-9]{8}[A-Z]{1}" [(ngModel)]="dni_contacto">
                        <input type="tel" name="telefono_contacto" id="apellido_alumno_in_text"
                            class="form-control mb-1" pattern="[0-9]{9}" [(ngModel)]="telefono_contacto">
                        <input type="email" name="correo_contacto" id="apellido_alumno_in_text"
                            class="form-control mb-1" pattern="[^@\s]+@[^@\s]+" [(ngModel)]="correo_contacto">

                    </div>
                </div>
            </div>

            <ng-template #buscar_contacto>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="">Datos</span>
                    </div>
                    <input type="text" class="form-control" [(ngModel)]="contacto_busqueda" (ngModelChange)="buscarContacto()">
                </div>

                <div class="alert alert-info border border-info"
                    *ngIf="contactos_registrados.length > 0; else error_contactos">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th scope="col">Nombre</th>
                                <th scope="col">DNI</th>
                                <th scope="col">Telefono</th>
                                <th scope="col">Correo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let contacto of contactos_registrados">
                                <td>{{contacto.nombre}}</td>
                                <td>{{contacto.dni}}</td>
                                <td>{{contacto.telefono}}</td>
                                <td>{{contacto.correo}}</td>
                                <td>
                                    <button class="btn btn-primary"
                                        (click)="seleccionarContactoExistente(contacto)">Seleccionar</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div *ngIf="contacto_seleccionado != undefined">
                    <span class="alert alert-success border border-success">Contacto: {{contacto_seleccionado.nombre}} {{contacto_seleccionado.dni}}</span>
                </div>

                <ng-template #error_contactos>
                    <p class="alert alert-warning">Ningun contacto encontrado</p>
                </ng-template>
            </ng-template>
        </div>


        <!--Seleccion del Taller-->
        <u class="align-self-center">
            <h2 jhiTranslate="formulario-suscripcion.seleccion-taller">Seleccion de taller</h2>
        </u>
        <div class="row">
            <div class="col">
                <div ngbDropdown class="d-inline-block">
                    <button type="button" class="btn btn-outline-primary btn-lg" ngbDropdownToggle
                        jhiTranslate="formulario-suscripcion.talleres">Toggle dropdown</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownTalleres">
                        <button ngbDropdownItem *ngFor="let taller of talleres_disponibles"
                            (click)="seleccionarTaller(taller)">
                            {{taller.nombre}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <span *ngIf="taller_seleccionado != undefined" class="alert alert-success border border-success mt-3">
            Seleccionado: {{taller_seleccionado.nombre}}
        </span>

        <hr>

        <!--Botones fin del formulario-->
        <div class="d-flex justify-content-around">
            <button class="btn btn-danger btn-lg" (click)="vaciarCampos()">Cancelar</button>
            <button class="btn btn-success btn-lg" (click)="resumenSuscripcion()">Aceptar</button>
        </div>

        <!--Errores-->
        <div *ngIf="error" class="alert alert-danger border border-danger mt-2">
            <p>Error en el formulario</p>
            <ul>
                <li *ngFor="let error of lista_errores">{{error}}</li>
            </ul>
        </div>
    </div>