<div class="container">
    <h1 jhiTranslate="formulario-suscripcion.titulo">
        Formulario suscripcion de un nuevo Alumno
    </h1>

    <hr>

    <div class="d-flex flex-column justify-content-end ">
        <!--Datos sobre el Alumno-->
        <h2 jhiTranslate="formulario-suscripcion.datos-alumno">Datos del alumno</h2>
        <div class="input-group mb-3">
            <div id="labels_alumno">
                <div class="input-group-prepend mb-1">
                    <label for="nombre_alumno" class="input-group-text"
                        jhiTranslate="formulario-suscripcion.alumno.nombre">Nombre del alumno</label>
                </div>
                <div class="input-group-prepend">
                    <label for="apellido_alumno" class="input-group-text"
                        jhiTranslate="formulario-suscripcion.alumno.apellido">Apellido del alumno</label>
                </div>
            </div>
            <div id="input_alumno">
                <input type="text" name="nombre_alumno" id="nombre_alumno_in_text" class="form-control mb-1">
                <input type="text" name="apellido_alumno" id="apellido_alumno_in_text" class="form-control">
            </div>
        </div>

        <!--Datos sobre el Contacto-->

        <!--Seleccion del Taller-->
    </div>
</div>