<div class="container">
    <h1 jhiTranslate="formulario-suscripcion.titulo">
        Formulario suscripcion de un nuevo Alumno
    </h1>

    <hr>

    <div class="d-flex flex-column justify-content-end">
        <!--Datos sobre el Alumno-->
        <u class="align-self-center">
            <h2 class="align-self-center" jhiTranslate="formulario-suscripcion.datos-alumno">Datos del alumno</h2>
        </u>
        <div class="input-group mb-3">
            <div id="labels_alumno">
                <div class="input-group-prepend mb-1">
                    <label for="nombre_alumno" class="input-group-text"
                        jhiTranslate="formulario-suscripcion.alumno.nombre">Nombre del alumno</label>
                </div>
                <div class="input-group-prepend mb-1">
                    <label for="apellido_alumno" class="input-group-text"
                        jhiTranslate="formulario-suscripcion.alumno.apellido">Apellido del alumno</label>
                </div>
                <div class="input-group-prepend">
                    <label for="dni_alumno" class="input-group-text"
                        jhiTranslate="formulario-suscripcion.alumno.dni">DNI del alumno</label>
                </div>
            </div>
            <div id="input_alumno">
                <input type="text" name="nombre_alumno" id="nombre_alumno_in_text" class="form-control mb-1"
                    [(ngModel)]="nombre_alumno">
                <input type="text" name="apellido_alumno" id="apellido_alumno_in_text" class="form-control mb-1"
                    [(ngModel)]="apellido_alumno">
                <input type="text" name="dni_alumno" id="dni_alumno_in_text" class="form-control"
                    pattern="[0-9]{8}[A-Z]{1}" [(ngModel)]="dni_alumno">
            </div>
        </div>

        <!--Datos sobre el Contacto-->
        <u class="align-self-center">
            <h2 jhiTranslate="formulario-suscripcion.datos-contacto">Datos del alumno</h2>
        </u>
        <div class="input-group mb-3">
            <div id="labels_contacto">
                <div class="input-group-prepend mb-1">
                    <label for="nombre_contacto" class="input-group-text"
                        jhiTranslate="formulario-suscripcion.contacto.nombre">Nombre del contacto</label>
                </div>
                <div class="input-group-prepend mb-1">
                    <label for="telefono_contacto" class="input-group-text"
                        jhiTranslate="formulario-suscripcion.contacto.telefono">Telefono del contacto</label>
                </div>
                <div class="input-group-prepend mb-1">
                    <label for="correo_contacto" class="input-group-text"
                        jhiTranslate="formulario-suscripcion.contacto.correo">Correo del contacto</label>
                </div>
                <div class="input-group-prepend mb-1">
                    <label for="dni_contacto" class="input-group-text"
                        jhiTranslate="formulario-suscripcion.contacto.dni">DNI del contacto</label>
                </div>
            </div>
            <div id="input_alumno">
                <input type="text" name="nombre_contacto" id="nombre_alumno_in_text" class="form-control mb-1"
                    [(ngModel)]="nombre_contacto">
                <input type="tel" name="telefono_contacto" id="apellido_alumno_in_text" class="form-control mb-1"
                    pattern="[0-9]{9}" [(ngModel)]="telefono_contacto">
                <input type="email" name="correo_contacto" id="apellido_alumno_in_text" class="form-control mb-1"
                    pattern="[^@\s]+@[^@\s]+" [(ngModel)]="correo_contacto">
                <input type="text" name="dni_contacto" id="dni_alumno_in_text" class="form-control mb-1"
                    pattern="[0-9]{8}[A-Z]{1}" [(ngModel)]="dni_contacto">
            </div>
        </div>

        <!--Seleccion del Taller-->
        <u class="align-self-center">
            <h2 jhiTranslate="formulario-suscripcion.seleccion-taller">Seleccion de taller</h2>
        </u>
        <div class="row">
            <div class="col">
                <div ngbDropdown class="d-inline-block">
                    <button type="button" class="btn btn-outline-primary btn-lg" ngbDropdownToggle
                        jhiTranslate="formulario-suscripcion.talleres">Toggle dropdown</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownTalleres">
                        <button ngbDropdownItem *ngFor="let taller of talleres_disponibles"
                            (click)="seleccionarTaller(taller)">
                            {{taller.nombre}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <span *ngIf="taller_seleccionado != undefined" class="mt-3">
            <span jhiTranslate="formulario-suscripcion.taller-seleccionado.titulo">Datos del Taller</span>
            <br>
            <ul>
                <li>
                    <span jhiTranslate="formulario-suscripcion.taller-seleccionado.nombre">
                        Nombre
                    </span>
                    : {{taller_seleccionado.nombre}}
                </li>
                <li>
                    <span jhiTranslate="formulario-suscripcion.taller-seleccionado.descripcion">
                        Descripcion
                    </span>
                    : {{taller_seleccionado.descripcion}}
                </li>
                <li>
                    <span jhiTranslate="formulario-suscripcion.taller-seleccionado.precio">
                        Precio
                    </span>
                    : {{taller_seleccionado.precio}}€
                </li>
                <li>
                    <span jhiTranslate="formulario-suscripcion.taller-seleccionado.profesor">
                        Profesor
                    </span>
                    : {{taller_seleccionado.profesor?.nombre}}
                </li>
                <li>
                    <span jhiTranslate="formulario-suscripcion.taller-seleccionado.horario">
                        Horario
                    </span>
                    <span *ngFor="let horario of taller_seleccionado.horarios">
                        {{this.formatoHorario(horario)}}
                    </span>
                </li>
            </ul>
        </span>

        <hr>

        <!--Botones fin del formulario-->
        <div class="d-flex justify-content-around">
            <button class="btn btn-danger btn-lg" (click)="vaciarCampos()">Cancelar</button>
            <button class="btn btn-success btn-lg" (click)="resumenSuscripcion()">Aceptar</button>
        </div>

        <!--Errores-->
        <div *ngIf="error" class="alert alert-danger border border-danger mt-2">
            <p>Error en el formulario</p>
            <ul>
                <li *ngFor="let error of lista_errores">{{error}}</li>
            </ul>
        </div>
    </div>