<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="suscripcion">
      <h2 data-cy="suscripcionDetailsHeading"><span jhiTranslate="academiaApp.suscripcion.detail.title">Suscripcion</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ suscripcion.id }}</span>
        </dd>
        <dt><span jhiTranslate="academiaApp.suscripcion.fecha">Fecha</span></dt>
        <dd>
          <span>{{ suscripcion.fecha | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="academiaApp.suscripcion.activa">Activa</span></dt>
        <dd>
          <span>{{ suscripcion.activa }}</span>
        </dd>
        <dt><span jhiTranslate="academiaApp.suscripcion.alumno">Alumno</span></dt>
        <dd>
          <div *ngIf="suscripcion.alumno">
            <a [routerLink]="['/alumno', suscripcion.alumno?.id, 'view']">{{ suscripcion.alumno?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="academiaApp.suscripcion.taller">Taller</span></dt>
        <dd>
          <div *ngIf="suscripcion.taller">
            <a [routerLink]="['/taller', suscripcion.taller?.id, 'view']">{{ suscripcion.taller?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/suscripcion', suscripcion.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
