<div class="d-flex justify-content-center alert-info border border-info">

  <div class="col-md-9">

    <div class="d-flex justify-content-center flex-row flex-item mb-3">
      <img src="../../content/images/abacus_128.png" alt="logo academia">
      <h1 class="display-4 align-self-center" style="margin-left: 0.5em;" jhiTranslate="home.title">Bienvenido a
        "Academia Turing"</h1>
    </div>
    <hr>
    
    <div [ngSwitch]="account !== null">

      <!--Loggeado-->
      <div class="alert alert-dark" *ngSwitchCase="true">
        <span id="home-logged-message" *ngIf="account">
          <img id="turing" src="../../content/images/turing.jpeg" alt="Alan Turing jpeg">
          <p>Es considerado uno de los padres de la ciencia de la computación y precursor de la informática moderna.
            Proporcionó una influyente formalización de los conceptos de algoritmo y computación: la máquina de Turing.
            Formuló su propia versión que hoy es ampliamente aceptada como la tesis de Church-Turing (1936).
          </p>
          <p>
            Durante la segunda guerra mundial, trabajó en descifrar los códigos nazis, particularmente los de la máquina
            Enigma, y durante un tiempo fue el director de la sección Naval Enigma de Bletchley Park. Se ha estimado que
            su trabajo acortó la duración de esa guerra entre dos y cuatro años. Tras la guerra, diseñó uno de los
            primeros computadores electrónicos programables digitales en el Laboratorio Nacional de Física del Reino
            Unido y poco tiempo después construyó otra de las primeras máquinas en la Universidad de Mánchester.
          </p>
          <p>
            En el campo de la inteligencia artificial, es conocido sobre todo por la concepción de la prueba de Turing
            (1950), un criterio según el cual puede juzgarse la inteligencia de una máquina si sus respuestas en la
            prueba son indistinguibles de las de un ser humano.
          </p>

          <p style="text-align: right;">Fuente: Wikipedia</p>
        </span>
      </div>


      <!--No loggeado-->
      <div class="p-4" *ngSwitchCase="false">
        <h3 jhiTranslate="home.selection"></h3>
        <div class="btn-group btn-group-lg d-flex" role="group" aria-label="Inicio Sesion">
          <button type="button" class="btn btn-outline-primary" (click)="login()"
            jhiTranslate="global.messages.info.authenticated.link">sign in</button>
          <button type="button" class="btn btn-outline-primary" routerLink="account/register"
            jhiTranslate="global.messages.info.register.link">Register new account</button>
        </div>
      </div>
    </div>
  </div>
</div>