<div class="container">
    <h1>Nuevo Taller</h1>

    <hr>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Nombre</span>
        </div>
        <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" [(ngModel)]="nombre">
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Descripcion</span>
        </div>
        <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" [(ngModel)]="descripcion">
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Precio</span>
        </div>
        <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" [(ngModel)]="precio">
    </div>

    <div ngbDropdown class="d-inline-block">
        <button type="button" class="btn btn-outline-primary btn-lg" ngbDropdownToggle>Selección Profesor</button>
        <div ngbDropdownMenu aria-labelledby="dropdownTalleres">
            <button ngbDropdownItem *ngFor="let profesor of lista_profesores" (click)="seleccionarProfesor(profesor)">
                {{profesor.nombre}} {{profesor.apellido}}
            </button>
        </div>
    </div>

    <div *ngIf="profesor_seleccionado != undefined" class="alert alert-success border border-success">
        <span>Se ha seleccionado el profesor {{profesor_seleccionado.nombre}} {{profesor_seleccionado.apellido}}</span>
    </div>

    <div class="d-flex flex-row justify-content-around">
        <button class="btn btn-danger btn-lg" (click)="vaciarCampos()">Cancelar</button>
        <button class="btn btn-success btn-lg" (click)="guardarTaller()">Guardar</button>
    </div>

    <div *ngIf="lista_errores.length > 0" class="alert alert-danger border border-danger mt-3">
        <span>Errores</span>
        <hr>
        <ul>
            <li *ngFor="let error of lista_errores ">
                {{error}}
            </li>
        </ul>
    </div>

    <div *ngIf="taller_guardado" class="alert alert-success border border-success p-2">
        <span>
            Taller guardado correctamente
        </span>
    </div>
</div>