table{
    table-layout: fixed;
    word-wrap: break-word;
}

.inf-td:hover{
    background-color: #bee5eb;
}
.mod-td:hover{
    background-color: #C3E6CB
}
.del-td:hover{
    background-color: #F5C6CB;
}