<div class="container d-flex flex-row">

    <!--Botones seleccion de curso-->
    <div class="btn-group-vertical p-1">
        <button class="btn btn-info mb-1" (click)="seleccionarAccion('inf-td')">Informacion</button>

        <button class="btn btn-outline-success mb-1" *ngFor="let taller of talleres_disponibles"
             (click)="seleccionarAccion('mod-td', taller)">{{taller.nombre}}</button>

        <button class="btn btn-danger" (click)="seleccionarAccion('del-td')">Eliminar</button>
    </div>

    <!--tabla horarios-->

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Hora</th>
                <th>Lunes</th>
                <th>Martes</th>
                <th>Miercoles</th>
                <th>Jueves</th>
                <th>Viernes</th>
                <th>Sabado</th>
                <th>Domingo</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let h of [].constructor(12); let hora = index">
                <td *ngFor="let columna of [].constructor(8); let dia = index" [ngClass]="accion_seleccionada" (click)="accionTd(dia - 1, hora + hora_minima)">
                    <span *ngIf="dia == 0; then horas else tallerNombre"></span>

                    <ng-template #tallerNombre>{{buscarTallerString(dia - 1, (hora + hora_minima))}}</ng-template>
                    <ng-template #horas>{{hora + hora_minima}}:00</ng-template>
                </td>
            </tr>
        </tbody>
    </table>
    <!--fin tabla horarios-->
</div>